@{
    ViewData["Title"] = "";
}

<script defer src="/js/text.js"></script>
<link rel="stylesheet" href="/css/text.css" asp-append-version="true" />
<div class="typing">
    <p class="text">WELCOME TO THE ASP MVC SHOP</p>
</div>
