@{
    ViewData["Title"] = "Items ";
}
<link rel="stylesheet" href="/css/Card.css" asp-append-version="true" />


<div class="items_title">
    <h1>Items</h1>
</div>
<section class="cards">
    <div class="container_div container_cards">
        <div class="card_item">
            <div class="card_top">
                <div class="card_img"><img src="/img/lightning-Photoroom.png" alt="item" /></div>
            </div>
            <div class="card_bottom">
                <div class="card_price">100</div>
                <p class="card_title">Item title</p>
                <div class="card_description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et urna a tellus vehicula mattis ac eget quam. Quisque interdum lectus orci, eget varius enim dignissim at. Curabitur ultricies bibendum arcu. Etiam ligula odio, egestas id augue in, sagittis condimentum ligula. Nullam accumsan malesuada iaculis. Fusce imperdiet, velit sed semper.
                </div>
                <div class="button_div">
                    <button class="card_button">add to cart</button>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_top">
                <div class="card_img"><img src="/img/lightning-Photoroom.png" alt="item" /></div>
            </div>
            <div class="card_bottom">
                <div class="card_price">100</div>
                <p class="card_title">Item title</p>
                <div class="card_description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et urna a tellus vehicula mattis ac eget quam. Quisque interdum lectus orci, eget varius enim dignissim at. Curabitur ultricies bibendum arcu. Etiam ligula odio, egestas id augue in, sagittis condimentum ligula. Nullam accumsan malesuada iaculis. Fusce imperdiet, velit sed semper.
                </div>
                <div class="button_div">
                    <button class="card_button">add to cart</button>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_top">
                <div class="card_img"><img src="/img/lightning-Photoroom.png" alt="item" /></div>
            </div>
            <div class="card_bottom">
                <div class="card_price">100</div>
                <p class="card_title">Item title</p>
                <div class="card_description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et urna a tellus vehicula mattis ac eget quam. Quisque interdum lectus orci, eget varius enim dignissim at. Curabitur ultricies bibendum arcu. Etiam ligula odio, egestas id augue in, sagittis condimentum ligula. Nullam accumsan malesuada iaculis. Fusce imperdiet, velit sed semper.
                </div>
                <div class="button_div">
                    <button class="card_button">add to cart</button>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_top">
                <div class="card_img"><img src="/img/lightning-Photoroom.png" alt="item" /></div>
            </div>
            <div class="card_bottom">
                <div class="card_price">100</div>
                <p class="card_title">Item title</p>
                <div class="card_description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et urna a tellus vehicula mattis ac eget quam. Quisque interdum lectus orci, eget varius enim dignissim at. Curabitur ultricies bibendum arcu. Etiam ligula odio, egestas id augue in, sagittis condimentum ligula. Nullam accumsan malesuada iaculis. Fusce imperdiet, velit sed semper.
                </div>
                <div class="button_div">
                    <button class="card_button">add to cart</button>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_top">
                <div class="card_img"><img src="/img/lightning-Photoroom.png" alt="item" /></div>
            </div>
            <div class="card_bottom">
                <div class="card_price">100</div>
                <p class="card_title">Item title</p>
                <div class="card_description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et urna a tellus vehicula mattis ac eget quam. Quisque interdum lectus orci, eget varius enim dignissim at. Curabitur ultricies bibendum arcu. Etiam ligula odio, egestas id augue in, sagittis condimentum ligula. Nullam accumsan malesuada iaculis. Fusce imperdiet, velit sed semper.
                </div>
                <div class="button_div">
                    <button class="card_button">add to cart</button>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_top">
                <div class="card_img"><img src="/img/lightning-Photoroom.png" alt="item" /></div>
            </div>
            <div class="card_bottom">
                <div class="card_price">100</div>
                <p class="card_title">Item title</p>
                <div class="card_description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et urna a tellus vehicula mattis ac eget quam. Quisque interdum lectus orci, eget varius enim dignissim at. Curabitur ultricies bibendum arcu. Etiam ligula odio, egestas id augue in, sagittis condimentum ligula. Nullam accumsan malesuada iaculis. Fusce imperdiet, velit sed semper.
                </div>
                <div class="button_div">
                    <button class="card_button">add to cart</button>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_top">
                <div class="card_img"><img src="/img/lightning-Photoroom.png" alt="item" /></div>
            </div>
            <div class="card_bottom">
                <div class="card_price">100</div>
                <p class="card_title">Item title</p>
                <div class="card_description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et urna a tellus vehicula mattis ac eget quam. Quisque interdum lectus orci, eget varius enim dignissim at. Curabitur ultricies bibendum arcu. Etiam ligula odio, egestas id augue in, sagittis condimentum ligula. Nullam accumsan malesuada iaculis. Fusce imperdiet, velit sed semper.
                </div>
                <div class="button_div">
                    <button class="card_button">add to cart</button>
                </div>
            </div>
        </div>
        <div class="card_item">
            <div class="card_top">
                <div class="card_img"><img src="/img/lightning-Photoroom.png" alt="item" /></div>
            </div>
            <div class="card_bottom">
                <div class="card_price">100</div>
                <p class="card_title">Item title</p>
                <div class="card_description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et urna a tellus vehicula mattis ac eget quam. Quisque interdum lectus orci, eget varius enim dignissim at. Curabitur ultricies bibendum arcu. Etiam ligula odio, egestas id augue in, sagittis condimentum ligula. Nullam accumsan malesuada iaculis. Fusce imperdiet, velit sed semper.
                </div>
                <div class="button_div">
                    <button class="card_button">add to cart</button>
                </div>
            </div>
        </div>
    </div>
</section>

@* <div class="card_item"> *@
@*     <div class="card_top"> *@
@*         <div class="card_img"><img src="/img/lightning-Photoroom.png" alt="item" /></div> *@
@*     </div> *@
@*     <div class="card_bottom"> *@
@*         <div class="card_price">100</div> *@
@*         <p class="card_title">Item title</p> *@
@*         <div class="card_description"> *@
@*             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et urna a tellus vehicula mattis ac eget quam. Quisque interdum lectus orci, eget varius enim dignissim at. Curabitur ultricies bibendum arcu. Etiam ligula odio, egestas id augue in, sagittis condimentum ligula. Nullam accumsan malesuada iaculis. Fusce imperdiet, velit sed semper. *@
@*         </div> *@
@*         <div class="button_div"> *@
@*             <button class="card_button">add to cart</button> *@
@*         </div> *@

@*     </div> *@
@* </div> *@