@{
    ViewData["Title"] = "Privacy ";
}
<link rel="stylesheet" href="/css/text.css" asp-append-version="true" />
<div class="box_text">
    <h1 class="line_before"><span style="color: green; font-weight: bold">@ViewData["Title"]</span></h1>
    

</div>
<div style="margin-top: 6rem; display: flex; justify-content:center;">
    <p>Use this page to detail your site's privacy policy.</p>
</div>


