
.login_list {
    display: flex;
    align-items: center;
    max-width: 10rem;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
    margin-inline: 3rem;
    list-style: none;
}

.login_li {
    margin-inline: 0.5rem ;
    list-style: none;
    margin: 1rem;
}

.login_a {
    color: #837d7d;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    padding-right:0.3rem;
    font-size:small;
}

.login_a:hover{
    color: #00ff21;
}
.login_a:active{
    color: #ffffff;
}

.logout_btn {
    margin-top: 1rem;
    background-color: #837d7d;
    color: #000000;
    font-weight: bold;
    margin-inline: 0.3rem;
    transition: all 0.4s ease-in-out;
    border: solid 1px #000000;
    padding: 2px;
    margin-bottom: 0.6rem
}
    .logout_btn:hover {
        background-color: #000000;
        color: #00ff21;
        border: solid 1px #00ff21;
        box-shadow: 0px 0px 13px 5px rgba(49, 255, 0, 0.2);
    }
    .logout_btn:active {
        background-color: #000000;
        color: #ffffff;
        border: solid 1px #00ff21;
        box-shadow: 0px 0px 13px 5px rgba(49, 255, 0, 0.2);
    }

.logout_btn_nav {
    margin-top: 1rem;
    background-color: #000000;
    color: #59a42b;
    font-weight: bold;
    margin-inline: 0.3rem;
    transition: all 0.4s ease-in-out;
    border: solid 2px #000000;
    margin-bottom: 0.6rem;
}
    .logout_btn_nav:hover {
        border: 2px #52ce19 solid;
        color: #52ce19;
    }

    .login_li_in {
        font-size: small;
        text-decoration: none;
        margin-top: 0.4rem;
        list-style: none;
    }
.quantity_micro {
    font-size: small;
}

.cart_div {
    padding:0.1rem;
    text-decoration: none;
    display: flex;
    justify-content:center;
    margin-top: 0.5rem;
    border: solid #000000 2px;

}
    .cart_div:hover{
        border: solid #52ce19 2px;
    }
#cartCount {
    color: #52ce19;
    transition: 0.3s;
}
    #cartCount.change {
        transform: rotate(360deg);
        color: #ffffff;
    }
.fa-sharp.fa-solid.fa-cart-shopping{
    transition: 0.3s;
}
    .fa-sharp.fa-solid.fa-cart-shopping.anim{
        transform:translateY(0.2rem);
    }
.user_invalid:user-invalid {
    border: solid 3px #ff0000;
}
.user_invalid:valid{
    border: solid 3px #00ff21;
}
.form-label .chek_input {
    background-color: #00ff21;
    border-radius: 0px;
    cursor: pointer;
}
    .form-label .chek_input:checked {
        background-color: white;
    }

.links{
    color: #868080;
    text-decoration:none;
}
    .links:hover {
        color: #00ff21;
    }

.hover_link:hover{
    border: solid 1px #00ff21;
}

.nav-pills .nav-link.active {
    color: #52ce19;
    font-weight: bold;
    background-color: #837d7d;
    border-radius: 0px;
}
.nav-link {
    color: #837d7d;
    border-radius: 0px;
}
    .nav-link:hover {
        color: #00ff21;
        border-radius: 0px;
    }

.form-control{
    border-radius: 0px;
}

.btn-primary {
    border-radius: 0px;
    margin-top: 1rem;
    background-color: #837d7d;
    color: #000000;
    font-weight: bold;
    margin-inline: 0.3rem;
    transition: all 0.4s ease-in-out;
    border: solid 1px #000000;
    padding: 2px;
    margin-bottom: 0.6rem
}
    .btn-primary:hover {
        background-color: #000000;
        color: #00ff21;
        border: solid 1px #00ff21;
        box-shadow: 0px 0px 13px 5px rgba(49, 255, 0, 0.2);
    }
    .btn-primary:active {
        background-color: #000000;
        color: #ffffff;
        border: solid 1px #00ff21;
        box-shadow: 0px 0px 13px 5px rgba(49, 255, 0, 0.2);
    }