.btn.btn-primary {
    border: solid 2px rgba(34, 217, 13, 0.2);
}
.btn.btn-primary:focus {
    background-color: #000000;
    border: solid 2px #00ff21;
    color: #4cff00;
    box-shadow: 0px -1px 17px 16px rgba(34, 217, 13, 0.2);
}
    .btn.btn-primary:hover {
        border: solid 2px #00ff21;
    }

.modal-content {
    border-radius: 0;
    top: 0;
    right: 0;
    left: 0;
    font-size: smaller;
    z-index: 10;
    display: block;
    margin: 0 auto;
    background-color: #000000;
    border: solid 2px #008000;
}
.btn.btn-secondary {
    border-radius: 0;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    border: solid #000000 2px;
    padding: 0.2em;
    color: #000000;
    background-color: #a38e8e;
    transition: 0.1s;
}
    .btn.btn-secondary:hover {
        background-color: #000000;
        color: #3bd515;
        border: 2px solid #2b9b19;
    }
.modal-header {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #00ff21;
}