

.my_nav{
    background-color: #080505;
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.mini-logo {
    font-size: 1.5rem;
    font-weight: bolder;
    filter: drop-shadow(4px 7px 15px #000000);
    transition: filter 0.7s ease-in-out;
}

    .mini-logo:hover {
        filter: drop-shadow(4px 7px 15px #1df500);
    }

.nav_li{
    list-style : none;
}

.nav_a{
    text-decoration: none;
    color: #5a9223;
}

    .nav_a:hover {
        color: #4cff00;
    }


header{
    position: relative;
    padding: 0 0.7rem;
    border-bottom: solid #808080 3px;
}

.links{
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    column-gap: 2rem;
    margin-block: 1rem;
    padding: 1rem;
}

.toggle_btn {
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    margin-right: 0.2rem;
}
    .toggle_btn i {
        max-width: 30px;
        filter: drop-shadow(4px 7px 15px #000000);
        transition: filter 0.7s ease-in-out;
    }
    .toggle_btn i:hover {
        filter: drop-shadow(4px 7px 15px #1df500);
    }

.login_block{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background: #000000;
    overflow: hidden;
    opacity: 0.9;
    height: 0;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 100;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .dropdown_menu.open {
/*        swap height*/
        height: 6rem; 
        border: 2px #52814d solid;
    }


.foot {
    border-top: solid 4px #808080;
    color: antiquewhite;
    height: 6rem;
    align-items: center;
    display: flex;
}

    .foot a {
        color: #61b219;
        text-decoration: none;
    }

        .foot a:hover {
            color: #4cff00;
        }

        .foot a:active {
            color: #ffffff;
        }
.footer_text{
    margin-left: 3rem;
}

@media(max-width: 800px) {
    .my_nav .links{
        display: none;
    }
    .my_nav .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

}

