input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 3px solid #3cd410;
    -webkit-text-fill-color: #00ff21;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    -webkit-box-shadow: 0px -1px 17px 16px rgba(34, 217, 13, 0.2);
    transition: background-color 5000s ease-in-out 0s;
}

.search_form{
    display: flex;
    justify-content:space-evenly;
    margin: 2rem;
}

.form-select{
    border-radius: 0px;
    cursor : pointer;
    border: #347e17 solid 3px;
    background-color: #000000;
    color: #00ff21;
    transition: 0.9s;
}
    .form-select > option {
        border-radius: 0px;
        border: none;
    }
    .form-select > selected {
        border-radius: 0px;
        border: none;
    }
    .form-select:active{
        border: none;
    }
    .form-select:focus {
        border: #00ff21 solid 3px;
        box-shadow: 0px -1px 17px 16px rgba(34, 217, 13, 0.2);
    }
.search_button{
    padding-block: 0rem;
    margin: 0 0;
    padding: 0.5rem;
}
.form-control {
    border: #347e17 solid 3px;
    background-color: #000000;
    color: #00ff21;
    transition: 0.9s;
}
    .form-control:focus {
        caret-color: #00ff21;
        border: #347e17 solid 3px;
        background-color: #000000;
        color: #00ff21;
        border: #00ff21 solid 3px;
        box-shadow: 0px -1px 17px 16px rgba(34, 217, 13, 0.2);
    }
