.swiper {
    width: 50.4%;
}

.swiper-wrapper {
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
}

.card_for_swiper.swiper-slide {
    position: relative;
    overflow: hidden;
    width: 20em;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    flex-direction: column;
    padding: 0.2rem;
    min-height: 22rem;
    border: solid #4cff00 1px;
}

.swiper_image {
    width: 10em;
    height: 10em;
    position: relative;
    overflow: hidden;
}

    .swiper_image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: smaller;
    padding: 1em;
}

.card_title_for_sw {
    font-size: medium;
    font-weight: 500;
    position: relative;
    top: .2em;
    padding: 0.7em;
}

.quantity_tag_new {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    background-color: black;
    padding-inline: 7px;
    font-size: small;
    max-width: 5rem;
}

.img_swiper {
    width: 100%;
    height: 70%;
    background-image: url('../img/backSlider.gif');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: inset 0px 0px 235px 83px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 235px 83px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 235px 83px rgba(0,0,0,1);
    border-radius: 150px;
}

@media(max-width: 600px){
    .card_content{
        font-size: small;
    }
    .card_for_swiper.swiper-slide {
        width: 100%;
        height: 32rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        opacity: 0.98;
        flex-direction: column;
        padding: 0.2rem;
        border: solid #4cff00 1px;
    }
}