
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]ShopMVC</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/My_nav_bar.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/body.css" asp-append-version="true" />
</head>
<body>
    <header >
        <nav class="my_nav">
            <div class="mini-logo">
                <a class="nav_a" asp-area="" asp-controller="Home" asp-action="Index">ShopMVC</a>
            </div>
            <ul class="links">
                <li class="nav_li">
                    <a class="nav_a" asp-area="" asp-controller="Home" asp-action="Items">Items</a>
                </li>
                <li class="nav_li">
                    <a class="nav_a" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                @if(User.IsInRole(Roles.Admin.ToString())){
                    <li class="nav_li">
                        <a class="nav_a" asp-area="" asp-controller="AdminOperations" asp-action="AllOrders">All orders</a>
                    </li>
                }
                else if(User.IsInRole(Roles.User.ToString())){
                    <li class="nav_li">
                        <a class="nav_a" asp-area="" asp-controller="UserOrder" asp-action="UserOrders">My orders</a>
                    </li>
                }
            </ul>
            <div class="login_block">
                <partial name="_LoginPartial" />
            </div>

            <div onclick="" onmouseout="" onmouseover="" class="toggle_btn">
                <i class="fa-sharp fa-solid fa-bars" style="color: #2fdd2c;"></i>
            </div>
        </nav>
        <div class="dropdown_menu">
            <li class="nav_li">
                <a class="nav_a" asp-area="" asp-controller="Home" asp-action="Items">Items</a>
            </li>
            <li class="nav_li">
                <a class="nav_a" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            @if (User.IsInRole(Roles.Admin.ToString()))
            {
                <li class="nav_li">
                    <a class="nav_a" asp-area="" asp-controller="AdminOperations" asp-action="AllOrders">All orders</a>
                </li>
            }
            else if(User.IsInRole(Roles.User.ToString())){
                <li class="nav_li">
                    <a class="nav_a" asp-area="" asp-controller="UserOrder" asp-action="UserOrders">My orders</a>
                </li>
            }
        </div>
        <script defer src="/js/drop.js"></script>
    </header>
    <div>
        <main role="main">
            <partial name="_Notifications" />
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="foot">
            <div class="footer_text">
                &copy; 2024 - ShopMVC - Author: <a href="https://t.me/fffvortex">fffvortex</a> <a asp-area="" asp-controller="Home" asp-action="Privacy"> - Privacy</a>
            </div>
        </div>
    </footer>
</body>
<script>
    loadCartCount();
    async function loadCartCount(){
        var response = await fetch(`/Cart/GetTotalItemInCart`);
        try {
            if(response.status == 200){
            var result = await response.json();
            var cartCountEl = document.getElementById("cartCount");
            cartCountEl.innerHTML = result;
        }
        }
        catch(err){
            console.log(err);
        }
    }
</script>

</html>
@await RenderSectionAsync("Scripts", required: false)