@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<link rel="stylesheet" href="/css/LoginPartial.css" asp-append-version="true" />
<ul>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="login_list">
        <li class="login_li_in">
            <a class="login_a" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hello @User.Identity?.Name! @if (User.IsInRole("Admin"))
                    {
                    <span>[ADMIN]</span>
                    }
            </a>
        </li>
        <li class="login_li">
            <form class="login_form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button class="logout_btn" type="submit">logout</button>
            </form>
        </li>
        </div>
    }
    else
    {
        <div class="login_list">
        <li class="login_li">
            <a class="login_a" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="login_li">
            <a class="login_a" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        </div>
        
    }
</ul>
