@{
    ViewData["Title"] = "Order success ";
}
<link rel="stylesheet" href="/css/orderSucces.css" asp-append-version="true" />
<div class="icon_success">
    <video src="/img/animation.gif.mp4" autoplay loop style="width: 100px;" ></video>
</div>

<div class="img_order_succes">
    <h1 style="text-align: center; color: white">Thanks for your order!</h1>
</div>
