@model TypeDTO
@{
    ViewData["Title"] = "Add Type ";
}
<link rel="stylesheet" href="/css/confirm.css" asp-append-version="true" />

<div>
    <h1 style="text-align: center; margin-block:1rem;"> Add type </h1>
    <div style="display: flex; justify-content: center;">
        <a href="/ItemTypes/Index" style="padding-inline:0.4rem; text-align: center;" class="btn btn-primary">back</a>
    </div>
</div>
<div style="display: flex; justify-content: center;">
    <form asp-action="AddType">
        <input class="form-select" type="text" asp-for="TypeTitle" />
        <span asp-validation-for="TypeTitle"></span>
        <div style="display: flex; justify-content: center;" >
            <button class="btn btn-primary" style="padding-inline:0.5rem;" type="submit">add</button>
        </div>
    </form>
</div>

