@model TypeDTO
@{
    ViewData["Title"] = "Update Type ";
}

<link rel="stylesheet" href="/css/confirm.css" asp-append-version="true" />
<div>
    <h1 style="text-align: center; margin-block:1rem;">Update Type</h1>
    <div style="display: flex; justify-content: center;">
        <a href="/ItemTypes/Index" style="padding-inline:0.4rem; text-align: center;" class="btn btn-primary">back</a>
    </div>
</div>
<div style="display: flex; justify-content: center;">
    <form style="text-align:center;" asp-action="UpdateType">
        <input type="hidden" asp-for="Id" />


        <input class="form-select" type="text" asp-for="TypeTitle" />
        <span asp-validation-for="TypeTitle"></span>

        <div style="display: flex; justify-content: center;">
            <button class="btn btn-primary" type="submit">update</button>
        </div>
    </form>
</div>


