@model ItemDTO
@{
    ViewData["Title"] = "Update Item ";
}
<link rel="stylesheet" href="/css/confirm.css" asp-append-version="true" />
<div style="display: block;justify-content: center;">
    <h1 style="text-align:center; margin-block:1rem;">Edit</h1>
    <div style="display: flex; justify-content: center;">
        <a href="/Item/Index" style="padding-inline:0.4rem; text-align: center;" class="btn btn-primary">back</a>
    </div>
</div>

<form asp-action="UpdateItem" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Image" />

    <div class="div_forms">
        <label>title</label>
        <input style="text-align: center; maxlength:40;" type="text" class="form-select" asp-for="ItemTitle" />
        <span asp-validation-for="ItemTitle"></span>
    </div>

    <div class="div_forms">
        <label>description</label>
        <textarea style="text-align: center; maxlength:371;" class="form-select" asp-for="Description" rows="5"></textarea>
        <span asp-validation-for="Description" class=""></span>
    </div>

    <div class="div_forms">
        <label>stats</label>
        <textarea style="text-align: center; maxlength:170;" class="form-select" asp-for="Stats" rows="5"></textarea>
        <span asp-validation-for="Stats" class=""></span>
    </div>

    <div class="div_forms" >
        <label>type</label>
        <select style="text-align: center;" class="form-select" asp-for="TypeId" asp-items="Model.TypeList">
            <option value="">select..</option>
        </select>
        <span asp-validation-for="TypeId"></span>
    </div>

    <div class="div_forms">
        <label>price</label>
        <input style="text-align: center;" class="form-select" type="number" asp-for="Price" />
        <span asp-validation-for="Price"></span>
    </div>

    <div class="div_forms">
        @if(!string.IsNullOrEmpty(Model.Image)){
            <img src="/images/@Model.Image" style="width: 80px;height: 40px;" />
        }
        <label for="file-upload" class="custom-file-upload">
            upload png
        </label>
        <input id="file-upload" class="form-select" type="file" class="form-control" asp-for="ImageFile" />
    </div>

    <div class="div_forms">
        <button style="padding:0.6rem;" type="submit" class="btn btn-primary">update</button>
    </div>
</form>