
@model UpdateOrderStatusModel
@{
    ViewData["Title"] = "Update Payment Status ";
}
<link rel="stylesheet" href="/css/confirm.css" asp-append-version="true" />

<div style=" text-align:center;align-items: center;">
    <a style="padding-inline: 0.5rem;" class="btn btn-primary" asp-action="AllOrders">back</a>

    <form style="text-align:center;" asp-action="UpdatePaymentStatus">
        <input type="hidden" asp-for="OrderId" />

        
            <h2 style="text-align:center">payment method</h2>
            <select style="text-align:center; width: 50%; margin-inline: auto;text-overflow: ellipsis;" class="form-control" asp-for="OrderStatusId" asp-items="@Model.OrderStatusList">
                <option value="" >select payment method...</option>
            </select>
            <span class="text-danger" asp-validation-for="OrderStatusId" ></span>
        <button style=" padding-inline: 0.5rem;" class="btn btn-primary" type="submit">update</button>
        @if (TempData["msg"] != null)
        {
            <br />
            <p style="text-align:center;">
                <br />
                @TempData["msg"]
            </p>
        }
    </form>
</div>

